
/* Todas as demais mídias */

/* Typical Device Breakpoints 
----------------------------
Pequenas telas: até 600px
Celular: de 660px até 768px
Tablet: 768px até 992px
Desktop: 992 até 1200px
Grandes telas: acima de 1200px*/


/* Desktop */
#menu-junto{
  display: none;
}

.menu-icon{
  display: none;
  font-size: 180%;
  cursor: pointer;
}

/* Parte onde é o que tem no computador */
*{  margin: 0;
    box-sizing: border-box;
}

body{
  max-width: 100%;
  margin: 0 auto;
}

html{
  font-size: 80%;
  scroll-behavior: smooth;
}

/* Parte 1 */
.img{
  max-width: 100%;
  height: auto;
  display: block;
}
  .container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 0vh 1vw;
    padding-bottom: 2vh;
  }
  
 .logo img{
    width: 30vh;
    height: auto;
 }

/* li.am{
   color: #FEB31B;
} */
 
 nav > ul {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    gap: 4vh; /*espaçamento*/
    padding: 4vh; /*espaço dentro*/
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    /* color: #525252; */
    font-size: 230%;
 }

 nav ul li a{
  text-decoration: none;
  color: #525252;
  transition: 0.3s;
 }

 nav ul li a:hover{
  color: #FFB700;
 }

 header{
    border-bottom: none; /*em baixo*/
    padding: 5vh;
    
 }

 .conteiner2{
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: clamp(40px, 18vw, 120px);
  padding: 2vw;
  flex-wrap: wrap;
  width: 100%;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

  margin-bottom: 0;
  padding-bottom: 1vw;

 }


 h1.textam{
  color: #FFB700;

  
 }

 h1.textcin{
   color: #525252;
  
 }

 div.text1{
  display: flex;
  flex-direction: column;
  gap: 0.5vw;
  font-size: 50px;


 }

 .veio{
  flex: 1 1 340px;
  display: flex;
  align-items: flex-start;
  padding-top: 0px;
  justify-content: center;
 }

 .veio img{
  width: 100%;
  max-width: 430px;
  height: auto;
   
 }

 .gap{
  padding-top: 4vw;
 }

.conteiner3 {
    background-color: #F1F1F1;
    display: flex;
    align-self: flex-start;
    justify-content: center;   /*  itens centro*/
    align-items: center;
    gap: 2vw;                  /*  distância entre os itens */
    border-radius: 2.6vh;
    height: 120px; 
    width: 44vw;
    margin-bottom: 0;

}


.coluntext {
    display: flex;
    flex-direction: column;
    gap: 0.5vh;                /* Texto mais grudado um no outro em baixo */
    min-width: fit-content;
    padding: 2.6vh;
}

.linha{
  width: 0.1vw;
  height: 8vh;
  background-color: #A0A2A3;
  align-self: center;
}
.txt-azul {
    color: #0046AF;
    font-family: sans-serif;
    font-size:3.6vh;
}

.txt-cinza {
    color: #555555;
    font-family: sans-serif;
    font-size: 3vh;
}

.btn-azul {
    background-color: #0349B0;
    color: white;
    
    /* botão tamanho*/
    padding: 4vh 1vw;        
    min-width: 15vw;           /* a maior coluna do container */
    border-radius: 3vh;
    height: 8vw;
    text-align: center;
    font-family: sans-serif;
    font-weight: bold;       /*negrito*/
    font-size: 3.5vh;          /* fonte maior */
    cursor: pointer;
    transition: transform 0.2s;
}

.btn-azul:hover {
    transform: scale(1.02);    /* efeito mouse */
}

.conteiner4{
  display: flex;
  flex-flow: wrap;
  flex-direction: row;
  align-items: center;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  margin-top: 4vw;
  padding: 3vw;
  gap: 1%;


}

.cinz{
  color: #383738;
  font-size: 3.2vw;

}

.Us{
  color: #FEB803;
  font-size: 3.2vw;
}

.menor{
  color: #5B5C5C;
  font-size: 1.8vw;
  margin-top: 1vw;
}

/* EFEITO IS, BI, CA */
.israel img, .bijar img, .caras img{
  transition: transform 0.4s ease;
  width: 100%;
  max-width: 280px;
  height: auto;
  border-radius: 12px;
}

.israel img:hover, .bijar img:hover, .caras img:hover{
  transform: scale(1.08);
}

.conteiner5{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-right: 10vh;
  font-family: sans-serif;

}
 
/* EFEITO IMAGEM */
.guarda img, .dinheiro img, .veio img{
  transition: all 0.3s ease;
}

.guarda img:hover, .dinheiro img:hover, .veio img:hover{
  transform: translateY(-10px);
}

.guarda img{
  display: flex;
  flex-flow: wrap;
  max-width: 80vh;
  height: auto;
  margin-bottom: 3vw;
 
}

.textao{
  font-size: 4vh;
  color: #363636;
}

.conteiner6{
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 1vh;
  margin-right: 5%;
  margin-top: 8%;
  margin-left: 4%;

}

.cinz2{
  color: #383738;
  font-size: 5.6vh;
  font-family: sans-serif ;
}

.menor2{
  color: #5B5C5C;
  font-size: 2.8vh;
  margin-left: 0.8%;
  margin-bottom: -1vh;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.conteiner7{
  /* encaixa as colunas  */
  /* modo grande */
  display: grid; 
  /* repete colunas no maximmo que der */
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 30px;
  padding: 20px;
  font-family:  sans-serif;

}

.israel, .bijar, .caras{
  /* card vertical */
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.israel img{
  display: flex;
  flex-flow: wrap;
  max-width: 100%;
  height: 50vh;
  width:50vh;
  border-radius: 4%;
  margin-top: 50%;
}

.bijar img{
  display: flex;
  flex-flow: wrap;
  max-width: 100%;
  height: 95vh;
  width:50vh;
  border-radius: 4%;
  margin-top: -15vh;
}

.caras img{
  display: flex;
  flex-flow: wrap;
  max-width: 100%;
  height: 70vh;
  width:50vh;
  border-radius: 4%;
  margin-top: 10vh;
}



.card img:hover{
  transform: scale(1.05);
}

.am2{
  font-size: clamp(18px, 2.5vw, 28px);
  color: #FFBA11;
  margin-top: 1vw;
  text-align: center;
}

.cin3{
  font-size: clamp(14px, 2vw, 20px);
  color: #474647;
  text-align: center;
}

.conteiner9{
  display: flex;
  flex-direction: row;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  padding: 7vh;
  gap: 1%;
  margin-top: 5%;
  font-size: 2.6vh;

}

.am3{
  color: #FFB400;
}

.cin4{
  color: #494849;
}

.conteiner10{
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 5vw;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  position: relative;  /*conteiner10 referencia*/

}


.dinheiro img{
  width: 100%;
  max-width: 500px; /*laargura maxima*/
  height: auto;
  margin-left: 10%;
  margin-bottom: 9%;
  
}

.divisores{
  display: flex;
  gap: 4vw;
  flex-wrap: wrap;
  margin-right: 8%;

}

.divs1{
  display: flex;
  flex-direction: column;
  gap: 2vw;
}

.divs2{
  display: flex;
  flex-direction: column;
  gap: 2vw;

}

.imgdiv img{
  max-width: 12vh;
  
}

.textdiv{
  display: flex;
  align-items: center;
  font-size: 2.8vh;
  color: #3C3B3D;


}

.item2{
  display: flex;
  align-items: center;
  gap:1vw;
}

.item2:hover{
  transform: scale(1.1);

}

.pedrinha {
  position: absolute; /* elementos saem fluxo normal*/
  right: 0; /*gruda direita*/
  bottom: 0; /*gruda embaixo*/
}
  
.pedrinha img{
  width: 180px;
}

.conteiner11{
  display: grid;
  grid-template-columns: repeat(3,1fr); /*quatidade de colunas para quebrar*/
  gap: 2vw;
  padding: 5vw;
  margin-top: -3vw;
}

.bloco{
  background-color: #F1F1F1;
  border-radius: 2vw;
  padding: 2vw;
  margin-left: 5%;
  margin-right: 5%;
  transition: all 0.3s ease;
  cursor: pointer;
}

.bloco:hover{
  transform: translateY(-8px);
  box-shadow: 0px 10px 25px rgba(0, 0, 0, 2);
}

.imgbloco img {
  width: 100%;
  height: 15vw;
  object-fit: cover; /* imagem preenche todo o epaço do bloco*/
  border-radius: 2vw;

  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.imgbloco img:hover{
  transform: scale(1.05);
  box-shadow: 0px 10px 25px rgba(0, 0, 0, 2);
}

.titulo {
  margin: 1vw 0 0.5vw;
  font-size: 1.2vw;
  color: #4B4B4B;
  font-family: Sans-serif;
}

.estrelinha{
  color: gold;
  font-size: 2.6vw;
}


.conteiner12{
  display: flex;
  justify-content: space-around;
  margin-left: 5vh;
  font-family: sans-serif;
  padding-right: 2%;
  padding-top: 10vw;

}

.colun1{
  display: flex;
  flex-direction: column;
  gap: 3vw;
}

.logo2 img{
  width: 30vh;
  height: auto;

}

.h2cor{
  color: #5A5959;
  font-size: 2.9vh;
}

.h1cor{
  color: #3D3C3E;
}

.email{
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: -8vh;
  gap: 1vw;
}

.imgemail img{
  width: 8vh;
  height: auto;
  margin-top: 1.2vw;
}

.colun2{
  display: flex;
  flex-direction: column;
  gap: 2.2vw;
  margin-left: 10vw;
}

.innova2 img{
  width: 30vh;
  height: auto;
}

.portal img{
  width: 42vh;
  height: auto;
  margin-left: -1vw;
}

.operadora img{
  width: 55vh;
  height: auto;
  margin-top: -3vw;
  margin-left: -6vw;
  
 
}

.moço img{
  max-width: 82vh;
  height: auto;
  margin-top: -29vw;
  margin-left: -2vw;
}

.conteiner13{
  background-color: #565656;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 100px;
  margin-top: -5vw;


}

.h2bran{
  color: #E2E2E3;
}

.imgicon img{
  max-width: 7vh;
  height: auto;
}

/* PARTE ONDE NAO TEM NO DESKTOP */
.conteiner2-1{
  display: none;
}

.conteiner2-2-1{
  display: none;
}

.conteiner2-2-2{
  display: none;
}

.conteiner5-2{
  display: none;
}

#btnItens{
  display: none;
}


/* FIM DA PARTE QUE NAO TEM NO DESKTOP */


/* Celular */
@media screen and (max-width: 992px){


 header{
    border-bottom: none; /*em baixo*/
    padding: 1vh;
 }
    

  .conteiner{
    flex-direction: column;
    display: flex;
  }

  .container{
    padding: 0vh 8vw !important;
  }

  .menu-icon{
    display: block;
    position: absolute;
    top: 14px;
    left: 12px;
    max-width: 200%;
    height: auto;
    font-size: 55px;
    color: #4B4B4B;
  }

  nav ul{
    display: none;
    flex-direction: column;
    position: absolute;
    top: 70px;
    left: 0;
    width: 100%;
    background: white;
    padding: 40px;
  }

  #menu-junto:checked ~ nav ul {
    display: flex;
    font-size: 25px;
  }

  .logo img{
    width: 110px;
    height: auto;
    padding-top: 20px;
    margin-left: 50px;
  }

  .colunaAm{
    background-color: #FFB700;
    width: 120%;
    height: 40px;
 
  }
  
  .conteiner2-1{
  display: flex;
  align-items: center;
  }

  .conteiner2-2-1{
    display: flex;
    flex-direction: row;
    padding: 1vh;
    padding-right: 3%;
    font-size: 4.5vw; 
}

.textam{
  padding-top: 2vw;
}

.veio2 img{
    max-width: 75%;
    height: auto;
    margin-left: 25px;

}

.conteiner2-2-2{
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #F1F1F1;
  border-radius: 6vw;
  padding: 4vh 6vw;
  gap: 3vh;
  padding: 4vh 5vw;
  width: 60%;
  max-width: 90vw;
  margin: 3vh auto;
}

.coluntext2{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: 2.2vh;
}

.txt-azul{
  font-size: 1.5rem;
}

.txt-cinza{
  font-size: 1rem;
}

.linhavertical2{
  width: 70%;
  height: 0.2vh;
  background-color: #A0A2A3;
}

.btn-azul{
  width: 110%;
  height: auto;
  padding: 2.5vh 5.5vw;
  border-radius: 4vh;
  text-align: center;
  line-height: 1.4;
}

.colum{
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.txt-azul, .txt-cinza{
  margin: 0;
}

.conteiner3{
  flex-direction: column;
  width: 90%;
  height: auto;
  padding: 20px;
}

/* CONTEINER4 */
.cinz{
  font-size: 6vw;
}

.Us{
  font-size: 6vw;
}

.menor{
  font-size: 4vw;
}
/* fim conteiner4 */

.conteiner5-2{
  display: block;
  display: flex;
  justify-content: center;
  font-size: 4vw;
  font-family: sans-serif;
  padding-top: 5vw;

}

#parteamarela{
  border-radius: 2%;
  background-color: #FFB700;
  width: 70%;
  padding: 2vw;
}

#paragrafo{
  align-items: center;
  color: #363636;
}


.btn-lermais{
  margin-top: 2vw;
  color: white;
  background-color: #0349B0;
  padding: 3%;
  border: 2px;
  border-radius: 5px; 
  

}

.cinz2{
  font-size: 7vw;
}

.menor2{
  font-size: 4.5vw;
}

.conteiner7{
  display: grid;
  /* 2 colunas em cima */
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  justify-items: center;
  align-items:start ;
}

.israel img, .bijar img, .caras img{
  width: 100% !important;
  /* maximo que o elemento pode ter */
  max-width: 150px !important;
  height: auto !important;
  margin: 0 !important;
}

.caras {
  /* ocupa duas colunas em baixo  */
  grid-column: span 2;
  /* fica no centro */
  justify-self: center;
}

.israel img{
  margin: 0;
}

.bijar img{
  width: 120px !important;
  max-width: 140px !important;
  height: 150px !important;
}

.israel, .bijar, .caras{
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 8px;
  margin: 0;
}

.conteiner9{
  padding: 4% !important;
 
}

.cin4{
  font-size: 6vw;
}

.am3{
  font-size: 6vw;
}

.divs1, .divs2{
  gap: 20px;
}

.item2{
  display: flex;
  align-items: center;
  gap: 10px;
}

.conteiner10{
  display: flex;
  justify-content: center;
}

.item2:active{
  transform: scale(1.1);

}

.conteiner11{
  grid-template-columns: 1fr 1fr;
  gap: 20px !important;
  padding: 20px !important;
}

.bloco{
padding: 15px;
}

.imgbloco img{
  height: 110px;
}

.titulo{
  font-size: 14px;
}

.estrelinha{
  font-size: 18px;
}

.conteiner12{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 15px;
}

.h2cor{
  font-size: 15px;
}

.imgemail img{
  width: 40px;
  height: auto;
}

.email{
  margin-top: 0 !important;
  display: flex;
  align-items: center;
  gap: 8px;
}

.colun2-2{
  display: block;
}

.israel:active, .bijar:active, .caras:active{
  transform: scale(0.97);
}

.btn-azul:active{
  transform: scale(0.96);
  opacity: 0.8;
}

.btn-lermais:active{
  transform: scale(0.95);
  opacity: 0.8;
}

.bloco:active{
  transform: scale(0.97);
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 2); 
}

/* JAVA SCRIPT */

.escondido{
  /* some */
  display: none; 
  transition: max-height 0.5s ease-out; /* Velocidade da transição */
  opacity: 0;
}


#textoextra{
  align-items: center;
  color: #363636;
}

.visivel{
  /* apatrece */
  display: inline;
}

.item-escondido{
  display: none;
}

.btn-centro{
  display: flex;
  justify-content: center;
}

.divisores{
  display: flex;
  flex-wrap: wrap;
}

#btnItens{
  display: block;
  width: 100%;
  display: flex;
  justify-content: center;
}

.btn-lermais{
  display: flex;
  flex-direction: column;
  padding-top: 2vw;
}



/* O QUE NAO TEM NO MOBILE */
  .conteiner2{
    display: none;
  }

  .guarda img{
    display: none;
  }

  .conteiner5{
    display: none;
  }


  .dinheiro img{
    display: none;
  }

  .conteiner14{
    display: none;
  }

  .colun2{
    display: none;
  }

  .moço{
    display: none;
  }

  .conteiner13{
    display: none;
  }

  .pedrinha{
    display: none;
  }

}

/* TABLET */
@media screen and (min-width: px) and (max-width:px){

.conteiner2{
  display: flex;
  flex-direction: row;
  padding: 0 !important;
  gap: 0;
  margin: 0;
}

.text1{
  width: 60%;
}
.textam{
  font-size: 120%;
}

.textcin{
  font-size: 120%;
}

.veio{
  width: 40%;
}

.veio img{
  max-width: 40%;
}

  .conteiner3 {
    width: 60%;
    height: auto;
    padding: 20px;
  }

  .conteiner7 {
    grid-template-columns: repeat(2 1fr);
    gap: 20px;
  }

  .conteiner11 {
    grid-template-columns: repeat(2 1fr);
  }

  .conteiner10 {
    flex-direction: column;
    align-items: center;
    gap: 30px;
  }

  .dinheiro img {
    max-width: 300px;
    margin: 0;
  }

  .divisores {
    flex-direction: column;
    align-items: center;
  }

  .divs1, .divs2{
    width: 100%;
    align-items: flex-start;
  }

  .conteiner12 {
    flex-direction: column;
    gap: 20px;
  }

}
